.video {
  width: 100%;
}

.controls {
  position: absolute;
  bottom: 15px;
  left: 25px;
}

input.controls {
  width: 90%;
}

.photo_prev {
  margin: 0 1rem 1rem 0;
}

.photo_prev img {
  width: 250px;
  height: 200px;
  margin-bottom: 1rem;
}
